.Game {
  width: 60vw;
  height: 20vh;
  max-height: 25vw;
  background-color: #0e1929;
  margin: 0 auto 15px auto;
  color: white;
  border-radius: 15px;
  border-width: 3px;

  border-color: #354c75;
  border-style: solid;
  display: flex;
  flex-direction: row;
}

.GameList {
  margin: 75px 0 0 0;
}

.gameMessage {
  display: flex;
  flex-direction: column;
  margin: auto 0 auto 9%;
}

.gameTitle {
  font-weight: bold;
  font-size: 3vh;
}

.gameDesc {
  font-weight: bold;
  margin-right: 20%;
  font-size: 2vh;
}

.gameImage {
  margin: auto 0 auto 3vmin;
}
