.turnIndicatorContainer {
  display: flex;
  flex-direction: column;
  margin: auto 1vmin auto 1vmin;
  padding-top: 6.5vh;
}
.turnWhite {
  margin-top: 0.5vmin;
  width: 5vmin;
  height: 5vmin;
  min-width: 2.5vh;
  min-height: 2.5vh;
  background-color: #ffffff;
  border: #ffffff solid 0.8vmin;
  border-radius: 60px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  transition: 0.5s;
}

.turnBlack {
  margin-bottom: 0.5vmin;
  width: 5vmin;
  height: 5vmin;
  min-width: 2.5vh;
  min-height: 2.5vh;
  background-color: #364c75;
  border: #364c75 solid 0.8vmin;
  /* border: #d1ad6b solid 4px; */

  border-radius: 25px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  transition: 0.5s;
}

.turnWhiteIcon {
  margin: 0.5vmin 0px 0px 2vmin;
  width: 2vh;
  height: 2vh;
  background-color: #ffffff;
  border: solid 0.25vh;
  border-radius: 25px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  transition: 0.5s;
  border-color: #d1ad6b;
}

.turnBlackIcon {
  margin: 0% 0px 0px 2vmin;
  border-color: #d1ad6b;
  width: 2vh;
  height: 2vh;
  background-color: #364c75;
  border: solid 0.25vh;
  /* border: #d1ad6b solid 4px; */

  border-radius: 25px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  transition: 0.5s;
}

.turnHiddenIcon {
  margin: 0% 0px 0px 2vmin;
  border-color: #0e1929;
  width: 2vh;
  height: 2vh;

  /* border: solid 0.25vh; */
  /* border: #d1ad6b solid 4px; */

  border-radius: 25px;

  transition: 0.5s;
  background-color: #0e1929;
}

.turnIconCont {
  height: 100%;
  display: flex;
  align-items: center;
}
