.board {
  margin-top: 0vh;
  margin-bottom: 0vh;
  margin-left: auto;
  margin-right: auto;
  background: #d1ad6b;
  padding: 0.5vmin 0px 0px 0px;
  /* width: 843px; */
  /* width: 90vmin; */
  width: 81vmin;
  height: 81vmin;
  /* height: 80vh; */
}

.rowC {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 0px;
  margin: 0rem 0 0rem 0;
  flex-wrap: wrap;
}
