.board {
  margin-top: 10px;
  margin-bottom: 50x;
  margin-left: 2px;
  margin-right: 2px;
  background: #fcefef;
  padding: 20px 20px 20px 20px;
  /* width: 843px; */
  width: 90vh;
}

.rowC {
  display: flex;
  flex-direction: row;
  gap: 5px;
  margin: 0rem 0 0rem 0;
  flex-wrap: wrap;
}
