.board {
  margin-top: 20px;
  margin-bottom: 2rem;
  margin-left: 2px;
  margin-right: 2px;
  /* background: #9692aa; */
  background: white;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.26);
  padding: 20px 20px 20px 20px;
  width: 843px;
}

.rowC {
  display: flex;
  flex-direction: row;
  gap: 5px;
  margin: 0rem 0 0rem 0;
  flex-wrap: wrap;
}
