.App-header {
  background-color: #0e1929;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 10px 0 20px 0;
  font-size: 12px;
  padding-top: 0px;
  min-height: 100vh;
  min-width: 100%;
  /* position: fixed; */
  /* top: 0;
  left: 0; */
}

.functionIcon {
  width: 3vh;
  height: 3vh;
  margin: 15% 0 0 0;
}

.functionGameButton {
  color: white;
  margin: 0px 0px 1vh 0px;
  height: 7vh;
  min-width: 7vh;
  background-color: #354c75;
  border-color: #354c75;
  border-radius: 20px;
  border-width: 1px;
  border-style: solid;

  padding-top: 0px;
  /* box-shadow: 0px 11px 33px -5px rgba(0, 0, 0, 0.15); */
}

.GameButton {
  color: #364c75;
  margin: 20px 41px 0px 41px;
  height: auto;
  padding: auto;
  width: 60vw;
  max-width: 600px;
  min-width: 110px;

  background-color: white;
  border-radius: 1vh;
  border-width: 0px;
  font-size: 3.5vh;

  font-weight: bold;
  box-shadow: 0px 11px 33px -5px rgba(0, 0, 0, 0.15);
  text-align: center;
}

.newGameButton {
  color: white;
  margin: 20px 41px 0px 41px;
  padding: auto;
  height: auto;
  width: 60vw;
  min-width: 110px;

  max-width: 600px;
  text-align: center;
  align-items: center;
  /* background-color: #b9c6df; */
  background-color: #d1ad6b;
  border-radius: 1vh;
  border-width: 0px;
  /* font-size: 36px; */
  font-size: 3.5vh;
  font-weight: bold;
  box-shadow: 0px 11px 33px -5px rgba(0, 0, 0, 0.15);
}

.signOutButton {
  color: white;
  margin: 20px 41px 0px 41px;
  padding: 5px 75px 5px 75px;
  height: 75px;
  min-width: 400px;
  background-color: #364c75;
  border-radius: 20px;
  border-width: 0px;
  font-size: 36px;
  font-weight: bold;
  box-shadow: 0px 11px 33px -5px rgba(0, 0, 0, 0.15);
}

.column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.row {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.signInScreen {
  background-color: #0e1929;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 12px;
  min-height: 100vh;
  min-width: 100%;
  /* position: fixed; */
  /* top: 0;
  left: 0; */
}

/* .amplify-button2 {
  width: 200px;
  height: 75px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  font-weight: 700;
  transition: 0.25s;
  background-color: hsl(190, 95%, 30%);;
  border-color: hsl(190, 95%, 30%);
  border-radius: .25rem;
  color: white;
  font-size: 1rem;
  cursor: pointer;
} */
.button-signIn {
  width: 400px;
  height: 50px;
  margin: 0vh 0 25vh 0;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  font-weight: 700;
  transition: 0.25s;
  background-color: hsl(190, 95%, 30%);
  border-color: hsl(190, 95%, 30%);
  border-radius: 0.25rem;
  color: white;
  font-size: 1rem;
  cursor: pointer;
}
