.App-header {
  background-color: #fcefef;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  padding-top: 0px;
  min-height: 100vh;
  min-width: 100%;
  position: fixed;
  top: 0;
  left: 0;
}

.functionIcon{
  width: 3vh;
  height: 3vh;
}



.functionGameButton {
  color: white;
  margin: 0px 41px 0px 41px;
  height: 7vh;
  min-width: 7vh;
  background-color:   #ffffff;
  border-radius: 20px;
  border-width: 0px;
  font-weight: bold;
  font-size: 36px;
  padding-top: 10px;
  box-shadow: 0px 11px 33px -5px rgba(0, 0, 0, 0.15);
}


.GameButton {
  color: #C566FF;
  margin: 20px 41px 0px 41px;
  height: 75px;
  min-width: 300px;
  background-color:   white;
  border-radius: 20px;
  border-width: 0px;
  font-size: 36px;
  font-weight: bold;
  box-shadow: 0px 11px 33px -5px rgba(0, 0, 0, 0.15);
}

.newGameButton {
  color: white;
  margin: 20px 41px 0px 41px;
  padding: 5px 75px 5px 75px;
  height: 75px;
  min-width: 300px;
  background-color:   #C566FF;
  border-radius: 20px;
  border-width: 0px;
  font-size: 36px;
  font-weight: bold;
  box-shadow: 0px 11px 33px -5px rgba(0, 0, 0, 0.15);
}

.signOutButton {
  color: white;
  margin: 20px 41px 0px 41px;
  padding: 5px 75px 5px 75px;
  height: 75px;
  min-width: 300px;
  background-color:   #5E2085;
  border-radius: 20px;
  border-width: 0px;
  font-size: 36px;
  font-weight: bold;
  box-shadow: 0px 11px 33px -5px rgba(0, 0, 0, 0.15);
}

.column {
  display: flex;
  flex-direction: column;
}

/* .row {
  display: flex;
  flex-direction: row;
  align-items: center;
} */

.signInScreen {
  background-color: #fcefef;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 12px;
  min-height: 100vh;
  min-width: 100%;
  position: fixed;
  top: 0;
  left: 0;
}

/* .amplify-button2 {
  width: 200px;
  height: 75px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  font-weight: 700;
  transition: 0.25s;
  background-color: hsl(190, 95%, 30%);;
  border-color: hsl(190, 95%, 30%);
  border-radius: .25rem;
  color: white;
  font-size: 1rem;
  cursor: pointer;
} */
.button-signIn {
  width: 400px;
  height: 50px;
  margin: -25vh 0 25vh 0;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  font-weight: 700;
  transition: 0.25s;
  background-color: hsl(190, 95%, 30%);;
  border-color: hsl(190, 95%, 30%);
  border-radius: .25rem;
  color: white;
  font-size: 1rem;
  cursor: pointer;
}

